.footer {
  padding-bottom: 30px;
}

.footerNav {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.footerNav li {
  display: inline-block;
  margin: 0 15px;
  font-size: 13px;
  line-height: 1;
}

.footerNav li a {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.footerNav li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.footerNav li a:hover:after {
  width: 100%;
  left: 0;
}
