html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #c6352f;
  color: #fff;
  height: 100%;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 90%;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
